<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Exercise Inc.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active" >Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link disabled"  href="">Signup</a>
            <a class="nav-item nav-link" href="/exercise">Exercise</a>
            <a class="nav-item nav-link" routerLink="/play" routerLinkActive="active">Exercise with Friends</a>
        </div>
    </div>
</nav>