<div class="container">
        <div class="jumbotron">
            <h3>Welcome to your exercise tracker</h3>
            <p>Enjoy!</p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card" >
                    <img class="card-img-top" src="benefits-of-exercise.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Signup</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                
            </div>
            <div class="col-md-4">
                    <div class="card" >
                            <img class="card-img-top" src="work-out-2.png" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">About</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                        
            </div>
            <div class="col-md-4">
                    <div class="card" >
                            <img class="card-img-top" src="contact.png" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Contact Us!</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                
            </div>
        </div>                
    </div>
